body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 10px 0;
}

h1 {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container__campo {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.texto__paragrafo {
    font-size: 18px;
    margin-bottom: 5px;
}

.container__input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#listaObjetivos {
    margin-top: 20px;
}

#listaObjetivos button {
    display: block;
    margin-bottom: 10px;
    background-color: #0056b3;
}

.aba-conteudo {
    display: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

.ativa {
    display: block;
}
